<section class="text-gray-600 body-font">
  <div class="container mx-auto">
    <h1 class="text-3xl font-medium title-font text-gray-900 mb-12 text-center">Lista de Habitaciones</h1>
  </div>
</section>

<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
  <div class="flex items-center justify-between flex-col md:flex-row flex-wrap space-y-4 md:space-y-0 py-4 bg-white dark:bg-gray-900">
    <div>
      <div class="relative">
        <div class="absolute inset-y-0 rtl:inset-r-0 start-0 flex items-center ps-3 pointer-events-none">
          <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
          </svg>
        </div>
        <input type="text" id="table-search-habitaciones" class="block pt-2 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg w-80 bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Buscar Habitación">
      </div>
    </div>
    <label for="table-search" class="sr-only">Buscar</label>

    <button (click)="abrirModalCrearHabitacion()" class="relative inline-flex items-center px-12 py-3 overflow-hidden text-lg font-medium text-indigo-600 border-2 border-indigo-600 rounded-full hover:text-white group hover:bg-gray-50" type="button">
      <span class="absolute left-0 block w-full h-0 transition-all bg-indigo-600 opacity-100 group-hover:h-full top-1/2 group-hover:top-0 duration-400 ease"></span>
      <span class="absolute right-0 flex items-center justify-start w-10 h-10 duration-300 transform translate-x-full group-hover:translate-x-0 ease">
        <svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M14 5l7 7m0 0l-7 7m7-7H3"></path></svg>
      </span>
      <span class="relative">Agregar Habitación</span>
    </button>
  </div>

  <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
    <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
      <tr>
        <th scope="col" class="px-2 py-2">#</th>
        <th scope="col" class="px-2 py-2">Número</th>
        <th scope="col" class="px-2 py-2">Tipo</th>
        <th scope="col" class="px-2 py-2">Cantidad Camas</th>
        <th scope="col" class="px-3 py-2">Límite Personas</th>
        <th scope="col" class="px-3 py-2">Costo</th>
        <th scope="col" class="px-3 py-2">Estado</th>
        <th scope="col" class="px-3 py-2">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <!-- Asumiendo que `listadeHabitaciones` es una lista de objetos Habitacion -->
      <tr *ngFor="let habitacion of listadeHabitaciones; let i = index" class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
        <td class="px-2 py-2">{{ i + 1 }}</td>
        <td class="px-2 py-2">{{ habitacion.numero }}</td>
        <td class="px-2 py-2">{{ habitacion.tipo }}</td>
        <td class="px-2 py-2">{{ habitacion.cantidad_camas }}</td>
        <td class="px-3 py-2">{{ habitacion.limite_personas }}</td>
        <td class="px-3 py-2">{{ habitacion.costo | currency }}</td>
        <td class="px-3 py-4">
          <div class="flex items-center">
            <div class="h-2.5 w-2.5 rounded-full" [ngClass]="{
                'bg-green-500': habitacion.estado === 'disponible',
                'bg-yellow-500': habitacion.estado === 'mantenimiento',
                'bg-gray-500': habitacion.estado === 'limpieza',
                'bg-red-500': habitacion.estado === 'ocupado',
                'bg-blue-500': habitacion.estado === 'reservado'
              }"></div>
            <span class="ml-2 capitalize">{{ habitacion.estado }}</span>
          </div>
        </td>
        <td class="px-3 py-2">
          <div class="flex space-x-2">
            <!-- Botón de Ver/Editar -->
            <button (click)="abrirModalVerHabitacion(habitacion.id)" class="flex items-center px-3 py-2 bg-blue-500 text-white rounded-lg hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-300 transition">
              <svg class="w-4 h-4 mr-1" fill="currentColor" viewBox="0 0 20 20">
                <path d="M17.414 2.586a2 2 0 00-2.828 0L7 10.172V14h3.828l7.586-7.586a2 2 0 000-2.828zM5 18a2 2 0 002 2h9a2 2 0 002-2v-2H5v2z" />
              </svg>
              Ver / Editar
            </button>

            <!-- Botón de Eliminar -->
            <button (click)="eliminarHabitacionModal(habitacion.id)" class="flex items-center px-3 py-2 bg-red-500 text-white rounded-lg hover:bg-red-600 focus:outline-none focus:ring-2 focus:ring-red-300 transition">
              <svg class="w-4 h-4 mr-1" fill="currentColor" viewBox="0 0 20 20">
                <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm-2.828-4.828a1 1 0 010-1.414L10 11l-2.828-2.828a1 1 0 111.414-1.414L11 9.586l2.828-2.828a1 1 0 011.414 1.414L12.414 11l2.828 2.828a1 1 0 01-1.414 1.414L11 12.414l-2.828 2.828a1 1 0 01-1.414 0z" clip-rule="evenodd" />
              </svg>
              Eliminar
            </button>
          </div>
        </td>
      </tr>

    </tbody>
  </table>
</div>


@if (ModalCrearHabitacion) {
  <div tabindex="-1" aria-hidden="true" class="fixed inset-0 z-50 flex items-center justify-center w-full h-full bg-gray-900 bg-opacity-50">
    <div class="relative w-full max-w-2xl mx-4 bg-white rounded-lg shadow-lg dark:bg-gray-800">
      <!-- Modal header -->
      <div class="flex items-center justify-between p-4 border-b dark:border-gray-600">
        <h3 class="text-lg font-semibold text-gray-900 dark:text-white">Crear Habitación</h3>
        <button type="button" (click)="CerrarModalCrearHabitacion()" class="text-gray-400 hover:text-gray-900 dark:hover:text-white">
          <svg class="w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
          </svg>
          <span class="sr-only">Close modal</span>
        </button>
      </div>
      <!-- Modal body -->
      <form [formGroup]="validarFormulario" id="validarFormularioHabitacion" class="p-4 max-w-2xl mx-auto bg-white rounded-lg shadow-md space-y-6">
        <h2 class="text-2xl font-bold text-gray-800 mb-6">Crear Habitación</h2>

        <div class="grid grid-cols-1 sm:grid-cols-2 gap-6">
            <!-- Número de Piso -->
            <div class="relative z-0 w-full group">
                <input type="number" name="numero_piso" id="numero_piso" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-gray-800 focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder=" " required formControlName="numero_piso" />
                <label for="numero_piso" class="peer-focus:font-medium absolute text-sm text-gray-500 duration-300 transform -translate-y-6 scale-75 top-3 origin-[0] peer-focus:start-0 peer-focus:text-blue-600 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Número de Piso</label>
            </div>

            <!-- Número de Habitación -->
            <div class="relative z-0 w-full group">
                <input type="text" name="numero" id="numero" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-gray-800 focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder=" " required formControlName="numero" />
                <label for="numero" class="peer-focus:font-medium absolute text-sm text-gray-500 duration-300 transform -translate-y-6 scale-75 top-3 origin-[0] peer-focus:start-0 peer-focus:text-blue-600 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Número de Habitación</label>
            </div>
        </div>

        <div class="grid grid-cols-1 sm:grid-cols-2 gap-6">
            <!-- Tipo de Habitación -->
            <div class="relative z-0 w-full group">
                <select name="tipo" id="tipo" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-gray-800 focus:outline-none focus:ring-0 focus:border-blue-600 peer" required formControlName="tipo">
                    <option value="">Seleccione Tipo de Habitación</option>
                    <option value="individual">Individual</option>
                    <option value="doble">Doble</option>
                    <option value="colectiva">Colectiva</option>
                    <option value="matrimonial">Matrimonial</option>
                    <option value="familiar">Familiar</option>
                </select>
                <label for="tipo" class="peer-focus:font-medium absolute text-sm text-gray-500 duration-300 transform -translate-y-6 scale-75 top-3 origin-[0] peer-focus:start-0 peer-focus:text-blue-600 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Tipo de Habitación</label>
            </div>

            <!-- Cantidad de Camas -->
            <div class="relative z-0 w-full group">
                <input type="number" name="cantidad_camas" id="cantidad_camas" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-gray-800 focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder=" " required formControlName="cantidad_camas" />
                <label for="cantidad_camas" class="peer-focus:font-medium absolute text-sm text-gray-500 duration-300 transform -translate-y-6 scale-75 top-3 origin-[0] peer-focus:start-0 peer-focus:text-blue-600 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Cantidad de Camas</label>
            </div>
        </div>

        <div class="grid grid-cols-1 sm:grid-cols-2 gap-6">
            <!-- Límite de Personas -->
            <div class="relative z-0 w-full group">
                <input type="number" name="limite_personas" id="limite_personas" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-gray-800 focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder=" " required formControlName="limite_personas" />
                <label for="limite_personas" class="peer-focus:font-medium absolute text-sm text-gray-500 duration-300 transform -translate-y-6 scale-75 top-3 origin-[0] peer-focus:start-0 peer-focus:text-blue-600 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Límite de Personas</label>
            </div>

            <!-- Costo -->
            <div class="relative z-0 w-full group">
                <input type="number" step="0.01" name="costo" id="costo" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-gray-800 focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder=" " required formControlName="costo" />
                <label for="costo" class="peer-focus:font-medium absolute text-sm text-gray-500 duration-300 transform -translate-y-6 scale-75 top-3 origin-[0] peer-focus:start-0 peer-focus:text-blue-600 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Costo</label>
            </div>
        </div>

        <div class="grid grid-cols-1 sm:grid-cols-2 gap-6">
            <!-- Descripción -->
            <div class="relative z-0 w-full group">
                <textarea name="descripcion" id="descripcion" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-gray-800 focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder=" " formControlName="descripcion"></textarea>
                <label for="descripcion" class="peer-focus:font-medium absolute text-sm text-gray-500 duration-300 transform -translate-y-6 scale-75 top-3 origin-[0] peer-focus:start-0 peer-focus:text-blue-600 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Descripción</label>
            </div>

            <!-- Campo para seleccionar Wi-Fi -->
            <div class="relative z-0 w-full group">
              <select id="wifi_id" name="wifi_id" formControlName="wifi_id"
                class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-gray-800 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
                required>
              <option value="">Seleccione una red Wi-Fi</option>
              <option *ngFor="let wifi of listaDeWifi" [value]="wifi.id">{{ wifi.ssid }}</option>
              </select>
              <label for="wifi_id"
                class="peer-focus:font-medium absolute text-sm text-gray-500 duration-300 transform -translate-y-6 scale-75 top-3 origin-[0] peer-focus:start-0 peer-focus:text-blue-600 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">
                Red Wi-Fi
              </label>
            </div>
        </div>

        <div class="flex justify-center gap-6">
          <!-- Ducha -->
<div class="flex items-center">
  <label class="inline-flex items-center cursor-pointer">
    <input type="checkbox" id="ducha" name="ducha" class="sr-only peer" formControlName="ducha">
    <div class="relative w-11 h-6 bg-gray-200 rounded-full peer dark:bg-gray-700 peer-focus:ring-4 peer-focus:ring-blue-300 dark:peer-focus:ring-blue-800 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-0.5 after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-blue-600"></div>
    <span class="ms-3 text-sm font-medium text-gray-900 dark:text-gray-300">Ducha</span>
  </label>
</div>

<!-- Baño -->
<div class="flex items-center">
  <label class="inline-flex items-center cursor-pointer">
    <input type="checkbox" id="bano" name="bano" class="sr-only peer" formControlName="baño">
    <div class="relative w-11 h-6 bg-gray-200 rounded-full peer dark:bg-gray-700 peer-focus:ring-4 peer-focus:ring-green-300 dark:peer-focus:ring-green-800 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-0.5 after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-green-600"></div>
    <span class="ms-3 text-sm font-medium text-gray-900 dark:text-gray-300">Baño</span>
  </label>
</div>

<!-- TV -->
<div class="flex items-center">
  <label class="inline-flex items-center cursor-pointer">
    <input type="checkbox" id="tv" name="tv" class="sr-only peer" formControlName="tv">
    <div class="relative w-11 h-6 bg-gray-200 rounded-full peer dark:bg-gray-700 peer-focus:ring-4 peer-focus:ring-purple-300 dark:peer-focus:ring-purple-800 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-0.5 after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-purple-600"></div>
    <span class="ms-3 text-sm font-medium text-gray-900 dark:text-gray-300">TV</span>
  </label>
</div>

      </div>

      <div class="grid grid-cols-1 gap-6 mt-6">
          <!-- Estado -->
          <div class="relative z-0 w-full group">
              <select id="estado" name="estado" formControlName="estado"
                class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-gray-800 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
                required>
                <option value="">Seleccione Estado</option>
                <option value="disponible">disponible</option>
                <option value="ocupado">ocupado</option>
                <option value="reservado">reservado</option>
                <option value="mantenimiento">mantenimiento</option>
                <option value="limpieza">limpieza</option>
              </select>
              <label for="estado"
                class="peer-focus:font-medium absolute text-sm text-gray-500 duration-300 transform -translate-y-6 scale-75 top-3 origin-[0] peer-focus:start-0 peer-focus:text-blue-600 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">
                Estado
              </label>
          </div>
      </div>

        <div class="flex justify-center mt-6">
            <button (click)="crearHabitacion()" type="submit" class="relative inline-flex items-center px-12 py-3 overflow-hidden text-lg font-medium text-indigo-600 border-2 border-indigo-600 rounded-full hover:text-white group hover:bg-gray-50">
                <span class="absolute left-0 block w-full h-0 transition-all bg-indigo-600 opacity-100 group-hover:h-full top-1/2 group-hover:top-0 duration-400 ease"></span>
                <span class="absolute right-0 flex items-center justify-start w-10 h-10 duration-300 transform translate-x-full group-hover:translate-x-0 ease">
                    <svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M14 5l7 7m0 0l-7 7m7-7H3"></path></svg>
                </span>
                <span class="relative">Guardar Habitación</span>
            </button>
        </div>
      </form>
    </div>
  </div>
  }

